.start-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    max-height: 100%;

    .current-card {
        //flex-basis: 95vw;
        @media screen and (min-width: 769px) {
            //flex-basis: 43vh;
        }
    }
    &__btns {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 1em 0.5em;
        button {
            background:rgba(0, 80, 80, 1);
            color: black;
            font-size: 2em;
            line-height: 2em;
            flex-basis: 25%;
            &:not(:last-child) {
                border-right: 4px solid black;
            }
            &:active, &:hover {
                color: #555;
            }
        }
    }
}