.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    .header__link {
        height: 3em;
        line-height: 3em;
        padding: 0 1em;
        &:not(:last-child) {
            border-right: 4px solid black;
        }

    }
}